@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	line-height: 1rem;
	height: 100vh;
	background: url(./images/dragon-scales.svg) center top no-repeat;
	background-size: cover;
}

body {
	font-family: 'Nunito', sans-serif;
	height: 100%;
	color: white;
}

#root {
	height: 100%;
}
