@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	line-height: 2.5rem;
	height: 100vh;
	color: white;
}

#root {
	height: 100%;
}
