.home {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #42b883;
}

.title {
	font-size: 4rem;
}

.login {
	font-size: 3rem;
	text-decoration: none;
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	transition: all 0.1s linear;
	border-radius: 0.8rem;
	flex-basis: 10%;
	padding: 0.5rem 0rem 0.5rem 0rem;
}

.login:hover {
	background-color: #00000029;
}

.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 3rem;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
}

.hide {
	display: none;
}
