.home {
	height: 100vh;
	display: flex;
	padding-top: 8rem;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 4rem;
	padding: 0.8rem;
	margin-bottom: 4rem;
}

.container {
	width: 30%;
	text-align: center;
}
